<div class="container">
<div class="row">
  <div style="margin-left:10px;">
    <input type="text"
           placeholder="Desde"
           class="form-control"
           #datepickerYMD="bsDatepicker"
           bsDatepicker
           [bsValue]="bsInlineValue"
           [bsConfig]="{
             dateInputFormat: 'DD-MM-YYYY',
             containerClass: 'theme-red'
           }">
  </div>
  <div style="margin-left:10px;" >
    <input type="text"
           placeholder="Hasta"
           class="form-control"
           #datepickerYMD="bsDatepicker"
           bsDatepicker
           [bsValue]="bsInlineValue"
           [bsConfig]="{
             dateInputFormat: 'DD-MM-YYYY',
             containerClass: 'theme-red'
           }">
  </div>
  </div>
</div>
