input {
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  //margin-left: 100px;
  //margin: 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  //width: 100%;
  background-color: white;
}
body .bs-datepicker-container .bs-datepicker-head {
  background-color: #fff;
}
body .bs-datepicker-container .bs-datepicker-head * {
  color: #c7464c;
}
.bs-datepicker-container {
  border-radius: 20px;
}
//.bs-datepicker-head button
