<div id="chartLeyend">
    <strong id = "charTitle"> Gatos por recontratación </strong>
  <div>
    <strong id = "tagLeyend"> Con alana </strong>
    <br>
    <strong id="alanaSum"> {{totalCostAlana | currency:'$'}} </strong>
    <!--Sin alana {{totalCostNoAlana | currency:'$'}}-->
  </div>
</div>
<amCharts id="chartdiv1" [options]="options" [style.width.%]="50" [style.height.px]="200"></amCharts>
