.amcharts-chart-div a {display:none !important;}
#chartLeyend {
  font-size: 0.9em;
  font-weight: bold;
  font-family:sans-serif;
  color:gray;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}
#alanaSum {
  color: #FF7676;
  font-weight: bolder;
  font-size: 1.5em;
}
#charTitle{
  color: #5C5C5C;
}
#tagLeyend{
  font-size: 0.9em;
}
